
  <%- include('../_header') %>
<div class="container">
  <div class="row mt-5">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <h1 align = 'center'><b> ผู้ดูแลระบบ </b></h1>
        <br><br>

      <p align = 'right'><a href="/admin/add" class="btn btn-success">เพิ่ม</a></p>


<table class = "table table-bordered table-hover">
  <thead>
<tr class="table-active">


    <th>ลำดับ</th>
    <th>ชื่อ</th>
    <th>Username</th>
    <th>Password</th>
    <th>Action</th>
</tr>
  </thead>

<tbody>
  <% if(data){ %>
    <% for(var i=0; i < data.length; i++) {%>
    <tr>
      <td><%= (i+1) %> </td>
    <td><%= data[i].name %> </td>
    <td><%= data[i].username %> </td>
    <td><%= data[i].password %></td>
    <td>
      <a href="/admin/del/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
      <a href="/admin/update/<%= data[i].id %>" class="btn btn-info"> แก้ไข </a>
    </td>
    </tr>
  <% } %>
    <% } %>
</tbody>
</table>
    </div>

    </div>
  </div>
<%- include('../_footer') %>
