<%- include ("../_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">


                   <h3 align="center"> ลบข้อมูลผู้ใช้ระบบ </h3>
                    <form action="/admin/del/<%= data.id %>" method="POST">
                        <table class="mt-3">
                            <tbody>

                              <tr>
                              <td><h5><font color=#0000> ชื่อ </font></h5></td>
                              <td><h5><font color=#0000> &nbsp;&nbsp;&nbsp;:&nbsp; </font></h5></td>
                              <td><h5><font color=#0000> <%= data.name%> </font></h5></td>
                                </tr>
                                  <tr>
                              <td><h5><font color=#0000> ชื่อผู้ใช้ </font></h5></td>
                              <td><h5><font color=#0000> &nbsp;&nbsp;&nbsp;:&nbsp; </font></h5></td>
                              <td><h5><font color=#0000> <%= data.username%> </font></h5></td>

                                </tr>
                                  <tr>
                              <td><h5><font color=#0000> รหัสผู้ใช้งาน </font></h5></td>
                              <td><h5><font color=#0000> &nbsp;&nbsp;&nbsp;:&nbsp; </font></h5></td>
                              <td><h5><font color=#0000> <%= data.password%> </font></h5></td>

                                </tr>
                            </tbody>
                        </table>
                        <br>
                        <a href="/admin" class="btn btn-primary"> กลับ </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        <a href="/admin/delete/<%= data.id%>" class="btn btn-danger"> ยืนยัน </a>
                    </form>
                </div>
            </div>
        </div>
    </div>
<%- include ("../_footer") %>
