<%- include ("../_header") %>
<div class="container mt-5">
  <div class="row mt-5">
    <div class="col-md-3"></div>
    <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <h3 align="center"> เพิ่มข้อมูลผู้ดูแลระบบ </h3>
                        <form action="/admin/save/" method="POST">
                        <div class="form-group mt-3"><h5> ชื่อ</h5>
                            <input type="text" name="name" placeholder="name"
                        class="form-control">
                        </div>

                        <div class="form-group mt-3"><h5> ชื่อผู้ใช้งาน</h5>
                            <input type="text" name="username" placeholder="username"
                        class="form-control">
                        </div>

                        <div class="form-group mt-3"><h5> รหัสผู้ใช้งาน</h5>
                            <input type="text" name="password" placeholder="password"
                        class="form-control">
                        </div>

                        <a href="/admin" class="btn btn-primary"> กลับ </a>

                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;



                        <button type="submit"class="btn btn-success">ยืนยัน</button>
                        </form>
                </div>
            </div>
        </div>
</div>
<%- include ("../_footer") %>
