<%- include ("../../views/login") %>

<div class="continer">
    <div class="row mt-5">

        <div class="col-md-2"></div>
        <div class="col-md-8">
            <td align="center"></td>

            
            <form action="/search" method="POST">
                <div class="col-md-2">
                    <a class="btn btn-info">ปีการศึกษา</a>
                    <select class="btn btn" name="year">
                        <option value=""> ปีการศึกษา </option>
                        <% if(data) { %>
                        <% for(var i=0; i<data.length; i++){ %>
                        <option value="<%= data[i].yearmj %>">
                            <%= data[i].yearmj %>
                        </option>
                        <%}%>
                  <%}%>
                    </select>
                </div>
                <div class="col-md-2">
                    <a class="btn btn-info">โปรเเกรมวิชา</a>
                    <select class="btn btn" name="mjname">
                        <option value=""> โปรเเกรมวิชา </option>
                        <% if(data) { %>
                        <% for(var i=0; i<data.length; i++){ %>
                        <option value="<%= data[i].mjname %>">
                            <%= data[i].mjname %>
                        </option>
                        <%}%>
                  <%}%>
                    </select>
                </div>
                <div class="col-md-2">
                    <button type="submit" class="btn btn-outline-success"> ค้นหา </button>
                    &nbsp;&nbsp; <a href="/uilist/search" class="btn btn-success"> หน้าหลัก </a>
                </div>

            </form>

            <div class="row mt-2">
            </div>
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

            <table class="table table-bordered table-hover">
                <thead>
                    <tr align="center">
                        <th>No</th>
                        <th>หัวข้อวิจัยeng</th>
                        <th>หัวข้อวิจัยth</th>
                        <th>ผู้วิจัย</th>
                        <th>โปรเเกรมวิชา</th>
                        <th>ปีการศึกษา</th>
                        <th>ชื่ออาจารย์</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                    <%  for(var i=0;i<data.length;i++){ %>
                    <tr align="center">
                        <td> <%= (i+1) %> </td>
                        <td> <%= data[i].engname %> </td>
                        <td> <%= data[i].thname %> </td>
                        <td> (<%= data[i].studentcode %>) <%= data[i].fname %> <%= data[i].lastname %>    </td>
                        <td> <%= data[i].mjname %> </td>
                        <td> <%= data[i].yearmj %> </td>
                        <td> <%= data[i].tname %> </td>
                        <td align="center">

                            <a href="/uiuserdetail/<%= data[i].idpj %>" class="btn btn-info"> รายละเอียด </a>


                        </td>
                    </tr>
                    <%  } %>
                    <%  } %>

                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include ("../../views/_footer") %>
