<%- include ("../../views/login") %>

<div class="continer">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-10">

            <br>
            <form action="/uilist/search" method="post">
                <div class="row-mt-2">
                    <select class="btn " name="major_id">
                        <option   input type="text" value="" class="btn btn"> โปรเเกรมวิชาทั้งหม </option>
                        <% if(data2) { %>
                        <% for(var i=0; i<data2.length; i++){ %>
                        <option value="<%= data2[i].id %>">
                            <%= data2[i].name %>
                        </option>
                        <%}%>
                  <%}%>
                  &nbsp;
                    </select>
                    <input  type= "text"  value=""   class="btn "  name="year" placeholder="ปีการศึกษา">
                    <button type="submit" class="btn btn-primary">
                      <span   class="fa fa-search" class="glyphicon glyphicon-searc"></span> ค้นหา
                    </button>

                    &nbsp;<a href="/"    class="btn btn-primary"> หน้าหลัก </a>
                </div>
                
            </form>
            <br>


            <div class="row mt-2">
            </div>


            <table class="table table-bordered table-hover">
                <thead>
                    <tr align="center" class="table-active ">
                        
                        <th>No</th>
                        <th>ชื่องานวิจัย(อังกฤษ)</th>
                        <th>ชื่องานวิจัย(ไทย)</th>
                        <th>ชื่อผู้วิจัย(รหัสนักศึกษา)</th>
                        <th>โปรเเกรมวิชา</th>
                        <th>ปีการศึกษา</th>
                        <th>ชื่ออาจารย์</th>
                        <th>ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                    <%  for(var i=0;i<data.length;i++){ %>
                    <tr align="center" class="table-active " >
                        <td> <%= (i+1) %> </td>
                        <td> <%= data[i].engname %> </td>
                        <td> <%= data[i].thname %> </td>
                        <td> (<%= data[i].studentcode %>)  <%= data[i].fname %> <%= data[i].lastname %>   </td>
                        <td> <%= data[i].mjname %> </td>
                        <td> <%= data[i].yearmj %> </td>
                        <td> <%= data[i].tname %> </td>
                        <td align="center">

                            <a href="/uiuserdetail/<%= data[i].idpj %>" class="btn btn-warning"> รายละเอียด </a>


                        </td>
                    </tr>
                    <%  } %>
                    <%  } %>

                </tbody>
            </table>
        </div>
    </div>
</div>

<%- include ("../../views/_footer") %>
