<%- include ("../../views/_header") %>


<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                   <h3 align="center"> ลบข้อมูลตำแหน่ง </h3>
                    <form action="/teachertype/del/<%= data.id %>" method="POST">
                        <table class="mt-3">
                            <tbody>
                              <tr>
                              <td><h5><font color=#0000> ตำแหน่ง </font></h5></td>
                              <td><h5><font color=#0000> &nbsp;&nbsp;&nbsp;:&nbsp; </font></h5></td>
                              <td><h5><font color=#0000> <%= data.name%> </font></h5></td>
                                </tr>

                            </tbody>
                        </table>

                        <br>
                        <a href="/teachertype" class="btn btn-info"> กลับ </a>
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                        &nbsp;&nbsp;
                        <a href="/teachertype/delete/<%= data.id%>" class="btn btn-danger"> ยืนยัน </a>
                    </form>

                </div>
            </div>
        </div>
    </div>

<%- include ("../../views/_footer") %>
