<%- include ("../../views/_header") %>
<br><br>
<h1 align='center'><b> ตำแหน่งอาจารย์ </b></h1>
<div class="continer">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            

          <p align='right'> <a href="/teachertype/add" class="btn btn-success"> เพิ่ม </a> </p>
            <table class="table table-bordered table-hover">
                <thead>
                    <tr class="table-active"align="center">
                        <th>No</th>
                        <th>ตำแหน่ง</th>

                        <th>ตัวเลือก</th>

                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                    <%  for(var i=0;i<data.length;i++){ %>
                    <tr align="center">
                        <td> <%= (i+1) %> </td>
                        <td> <%= data[i].name %> </td>

                        <td align="center">
                                <a href="/teachertype/update/<%= data[i].id%>" class="btn btn-info"> แก้ไข </a>
                              <a href="/teachertype/del/<%= data[i].id%>" class="btn btn-danger"> ลบ </a>

                        </td>

                    </tr>
                    <%  } %>
                    <%  } %>

                </tbody>
            </table>
        </div>
    </div>
</div>


<%- include ("../../views/_footer") %>
