body {
    background-image: url('home.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%; 
}

.modal-body {
    display: flex;
    padding: 0;
    border-radius: 4rem;
    font-family: 'PT Sans', sans-serif;
}

.modal-content {
    border-radius: 4rem;
    width: 140%;
    -webkit-box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
    -moz-box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
    box-shadow: -1px -2px 42px -19px rgba(0, 0, 0, 0.74);
}

.modal-content h1,
.modal-content h2,
.modal-content h3 {
    text-align: center;
}

.modal-content h1 {
    font-size: 1.3em;
    text-transform: uppercase;
}

.modal-content h2 {
    font-size: 1.1em;
}

.modal-content h3 {
    font-size: .8em;
    letter-spacing: 2px;
}

form {
    font-size: .8em;
}

.column {
    flex: 50%;
    padding: 10px;
}

.column#main {
    flex: 75%;
    padding: 50px;
    margin-top: 30px;
    margin-left: 15px;
}

#secondary {
    background-image: url(unnamed.png);
    border-radius: 0 4rem 4rem 0;
    text-align: center;
}

#secondary2 {
    background-image: url(Teacher-icon-1.png);
    border-radius: 0 4rem 4rem 0;
    text-align: center;
}

#secondary3 {
    background-image: url(google-apps-admin-panel-icon.png);
    border-radius: 0 4rem 4rem 0;
    text-align: center;
}

#main .form-control {
    border-radius: 0;
    font-size: .9em;
}

.alert {
    font-size: 15px;
    padding: 15px;
    width: 300px;
    margin: 5px;
    background-color: #f44336;
    color: white;
    margin-right: auto;
    margin-left: auto;
}

.btn {
    position: 50px;
    text-transform: uppercase;
    border-radius: .50rem;
    width: 220px;
    padding: .240rem .75rem;
    margin: 50px auto;
    font-family: 'PT Sans', sans-serif;
    letter-spacing: 2px;
    text-align: center;
    color: rgb(0, 0, 0);
}

.btn-primary {
    border-color: rgba( 255, 255, 255, 0);
    background: #f1da36;
    /* Old browsers */
    background: -moz-linear-gradient(left, #f1da36 0%, #fca86c 99%);
    /* FF3.6-15 */
    background: -webkit-linear-gradient(left, #f1da36 0%, #fca86c 99%);
    /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to right, #f1da36 0%, #fca86c 99%);
    /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid: DXImageTransform.Microsoft.gradient( startColorstr='#f1da36', endColorstr='#fca86c', GradientType=1);
    /* IE6-9 */
    Color format: Comments
}

.btn-primary:hover {
    border-color: rgba( 255, 255, 255, 0);
}

#main .btn-primary {
    width: 100%;
}

#secondary .btn-primary {
    background: #f8f9fa4f;
    color: #000;
}

.modal-body label {
    margin-bottom: 0;
}

.sec-content {
    margin-top: 85%;
}
