<%- include ("../../views/_header") %>

    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">


                          <form action="/adminstudent/Update/ <%= data.sid %>" method="post">
                            <center>
                                <h1>แก้ไขผู้ใช้</h1>
                            </center>
                            <br>
                            <br>
                            <div class="form-group">
                              <h4>   ชื่อ : <br><input type="text" name="firstname" value="<%= data.sfirstname %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  นามสกุล : <br><input type="text" name="lastname" value="<%= data.slastname %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  เบอร์โทรศัพท์ : <br> <input type="text" name="phone" value="<%= data.sphone %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  รหัสนักศึกษา: <br> <input type="text" name="studentcode" value="<%= data.sstudentcode %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  รหัส: <br> <input type="text" name="password" value="<%= data.spassword %>" class="form-control"> </h4>
                            </div>

                            <label class="label-input100" for="line">คณะ</label>
                                                    <div class="form-group">
                                                              <select class='form-control' name="major_id">
                                                                <% if(data2) { %>
                                                                   <% for(var i = 0; i < data2.length; i++) {%>
                                                                <option value="<%= data2[i].id%>"
                                                                    <% if(data2[i].id === data.major_id){ %> selected <% } %> >
                                                                    <%= data2[i].name %>

                                                                </option>
                                                                <% } %>
                                                                <% } %>
                                                          </select>
                                                    </div>



                            <div class="form-group">
                              <h4>  วัน/เดือน/ปีเกิด : <br> <input type="text" name="birthday" value="<%= data.sbirthday %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  ที่อยู่: <br> <input type="text" name="address" value="<%= data.saddress %>" class="form-control"> </h4>
                            </div>

                            <div class="form-group">
                              <h4>  อีเมล: <br> <input type="text" name="email" value="<%= data.semail %>" class="form-control"> </h4>
                            </div>



                            <br>

                            <center>
                              <a href="/adminstudent" class="btn btn-info"> กลับ </a>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-success"> ยืนยัน </button>
                            </center>
                        </form>


                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ("../../views/_footer") %>
