<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">

                        <form action="/adminstudent/save" method="post">

                            <center>
                                <h1>เพิ่มผู้ใช้</h1>
                            </center>
                            <br>
                            <h5>
                                <div class="form-group">
                                    ชื่อ: <font color= "red" > *  </font>  <br>        <input type="text" name="firstname" placeholder="ชื่อ" class="form-control">
                                </div>



                                <div class="form-group">
                                    นามสกุล: <font color= "red" > *  </font> <br>     <input type="text" name="lastname" placeholder="นามสกุล" class="form-control">
                                </div>

                                <div class="from-group">
                                    เบอร์โทรศัพท์: <font color= "red" > *  </font> <br> <input type="text" name="phone" placeholder="เบอร์โทรศัพท์" class="form-control">
                                </div>


                                <div class="form-group">
                                    รหัสนักศึกษา: <font color= "red" > *  </font> <br> <input type="text" name="studentcode" placeholder="รหัสนักศึกษา" class="form-control">
                                </div>

                                <div class="form-group">
                                    รหัส: <font color= "red" > *  </font> <br>        <input type="text" name="password" placeholder="รหัส" class="form-control">
                                </div>

                                <label class="label-input100" for="line">คณะ</label>
                                                              <div class="form-group">
                                                                <select class='form-control' name="major_id">
                                                                          <option value="">select</option>
                                                                          <% if(data1) { %>
                                                                            <% for(var i = 0; i<data1.length; i++) {%>
                                                                              <option value="<%= data1[i].id%>">
                                                                              <%= data1[i].name%>
                                                                                </option>
                                                                                <% } %>
                                                                                    <% } %>
                                                                </select>




                                <br>
                                <div class="form-group">
                                    วันเดือนปีเกิด: <font color= "red" > *  </font> <br> <input type="date" name="birthday" placeholder="วันเดือนปีเกิด" class="form-control">
                                </div>

                                <div class="form-group">
                                  ที่อยู่: <font color= "red" > *  </font> <br>       <input type="text" name="address" placeholder="ที่อยู่" class="form-control">
                                </div>

                                <div class="form-group">
                                    อีเมล: <font color= "red" > *  </font> <br>       <input type="text" name="email" placeholder="อีเมล" class="form-control">
                                </div>



                            </h5>


                            <br>

                            <center>
                              <a href="/adminstudent" class="btn btn-info"> กลับ </a>
                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <button type="submit" class="btn btn-success"> ยืนยัน </button>
                                </center>


                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <%- include ("../../views/_footer") %>
