<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-5">
                <div class="card">
                    <div class="card-body">




                        <form action="/adminstudent/del/<%= data.sid %>" method="post">
                            <center>
                                <h1>ยืนยันการลบผู้ใช้</h1>
                            </center>

                            <br>


                            <table>
                              <tbody>


                            <tr>
                              <td> <h4>    ชื่อ    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.sfirstname%>   &nbsp;&nbsp;  <%= data.slastname %>   </h4></td>
                            </tr>

                              <tr>
                              <td> <h4>  เบอร์โทรศัพท์  </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4> &nbsp;&nbsp; <%= data.sphone %> </h4> </td>
                            </tr>

                            <tr>
                              <td> <h4>  รหัสนักศึกษา </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4> &nbsp;&nbsp;  <%= data.sstudentcode %> </h4> </td>
                            </tr>

                            <tr>
                              <td> <h4>    คณะ    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.dname %>   <%= data.mname %>  </h4></td>
                            </tr>

                            <tr>
                              <td> <h4>    วัน/เดือน/ปีเกิด    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.sbirthday%>   </h4></td>
                            </tr>

                            <tr>
                              <td> <h4>    ที่อยู่    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.saddress%>   </h4></td>
                            </tr>

                            <tr>
                              <td> <h4>    อีเมล    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.semail%>   </h4></td>
                            </tr>


                            <tr>
                              <td> <h4>    รหัส    </h4> </td>
                              <td> <h4> &nbsp;&nbsp;&nbsp;&nbsp; : </h4> </td>
                              <td> <h4>  &nbsp;&nbsp;  <%= data.spassword%>   </h4></td>
                            </tr>

                                </tbody>
                              </table>


                            <br>

                            <center>
                              <a href="/adminstudent" class="btn btn-info"> กลับ </a>

                              &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/adminstudent/delete/<%= data.sid %>" class="btn btn-danger"> ยืนยัน</a>

                            </center>


                    </div>
                </div>
            </div>
        </div>
    </div>


    <%- include ("../../views/_footer") %>
