<%- include ("../../views/_header") %>


<br>

<h1  align = "center"  id = "h1id"><b>ADMIN STUDENT</b></h1>



<div class="continer" align = "center">
    <div class="row mt-5">
        <div class="col-md-1"></div>
        <div class="col-md-9">



                <table class="table table-bordered table-hover">
                  <br> <p align = "right" > <a href="/adminstudent/add" class="btn btn-success" id="aid" > เพิ่มผู้ใช้ </a> </p>

                    <thead align="center">

                      <br>
                        <tr class="table-active ">

                            <th>ลำดับ</th>
                            <th>ชื่อ</th>
                            <th>เบอร์โทรศัพท์</th>
                            <th>รหัสนักศึกษา</th>
                            <th>คณะ</th>
                            <th>วัน/เดือน/ปีเกิด </th>
                            <th>ที่อยู่</th>
                            <th>อีเมล</th>
                            <th>รหัส</th>
                            <th>ตัวเลือก</th>


                        </tr>
                    </thead>

                    <tbody align="center">
                        <% if(data){ %>
                            <% for(var i = 0 ; i < data.length;i++){ %>
                                <tr>
                                    <td>
                                        <%= (i+1) %>
                                    </td>
                                    <td>
                                        <%= data[i].sfirstname %>  <%= data[i].slastname %>
                                    </td>

                                    <td>
                                        <%= data[i].sphone %>
                                    </td>
                                    <td>
                                        <%= data[i].sstudentcode %>
                                    </td>

                                    <td>
                                        <%= data[i].dname %>   <%= data[i].mname %>
                                    </td>

                                    <td>
                                        <%= data[i].sbirthday %>
                                    </td>
                                    <td>
                                        <%= data[i].saddress %>
                                    </td>
                                    <td>
                                        <%= data[i].semail %>
                                    </td>
                                    <td>
                                        <%= data[i].spassword %>
                                    </td>

                                    <td>

                                        <a href="/adminstudent/edit/ <%= data[i].sid %>" class="btn btn-info"> แก้ไข</a>
                                         &nbsp;
                                        <a href="/adminstudent/del/ <%= data[i].sid %>" class="btn btn-danger"> ลบ</a>
                                    </td>
                                </tr>
                                <% } %>
                                    <% } %>

                    </tbody>
                </table>
            </div>

        </div>

        </div>




    <%- include ("../../views/_footer") %>
