<%- include ("../_header") %>
<% JSON.stringify(data) %>
<div class="container mt-6">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/adminMajor/update/<%= data.id %>" method="post">
                        <p align="center">
                            <font color=#000000 style="font-size:30px">แก้ไข ข้อมูล</font>
                        </p>
                        <div class="form-group">
                            <a style="font-size:20px">โปรแกรมวิชา <font color=#FF0000>*</font></a>
                            <input type="text" name="name" value="<%= data.name %>"
                                class="form-control">
                        </div>

                        <div class="form-group">
                            <a style="font-size:20px">คณะ<font color=#FF0000>*</font></a>
                            <select class='form-control' name='department_id'>
                                <option value="">กรุณาเลือก</option>
                                <% if(data2){ %>
                                <% for(var i = 0 ; i < data2.length ; i++){%>
                                <option value="<%= data2[i].id %>" <% if(data2[i].id==data.department_id){ %> selected
                                    <% }%>>
                                    <%= data2[i].name %>
                                </option>
                                <% }%>
                                <% } %>
                            </select>
                        </div>
                        <a href="/adminMajor" class="btn btn-primary">กลับ</a>
                        <button type="submit" class="btn btn-success">บันทึก</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../_footer") %>
