<%- include ("../../views/_header") %>
<% JSON.stringify(data2) %>
    <div class="container mt-5" id="box">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 align='center'>เพิ่มโปรแกรมวิชา</h3><br>
                        <form action="/adminMajor/save/" method="POST">
                            <div class="form-group">
                                ชื่อโปรแกรมวิชา
                                <font color=#FF0000>*</font> <input type="text" name="name" placeholder="กรอกชื่อโปรแกรมวิชา" class="form-control">
                            </div>

                            <label class="label-input100" for="line">คณะของโปรแกรมวิชา <font color=#FF0000>*</font></label>
                            <div class="form-group">
                                <select class='form-control' name="department_id">
                                       <option value="">เลือก</option>
                                        <% if(data2) { %>
                                            <% for(var i = 0; i<data2.length; i++) {%>
                                            <option value="<%= data2[i].id%>">
                                            <%= data2[i].name%>
                                                        </option>
                                                 <% } %>
                                                     <% } %>
                                                        </select>
                                <div class="row mt-3"></div>


                                <a href="/adminMajor" class="btn btn-info"> กลับ </a>
                                <button type="submit" class="btn btn-success" id="submit-id">ยืนยัน</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #submit-id{
                    position: relative;
                    left: 60%;
                }
                #box{
                    position: relative;
                    top: 80px;
                }
            </style>
            <%- include ("../../views/_footer") %>