<%- include ('../../views/_header.ejs') %>
<%= JSON.stringify(data1) %>
<div class="container mt-6">
  <div class="row mt-5">

    <div class="col-md-3"></div>
    <div class="col-md-6" >
      <div class="card" >
        <div class="card-body" >
          <p align="center">
              <font color=#000000 style="font-size:30px"  >ต้องการลบหรือไม่?</font>
          </p>
            <div  align="center">
              <h3 id="man-id"><font color=#0000 style="font-size:20px">ชื่อโปรแกรมวิชา : <%=data1.man %></font></h3>
              <br>
            </div>
            <div  align="center">
              <h3 id="den-id"><font color=#0000 style="font-size:20px">คณะ : <%=data1.den %></font></h3>
              <br>
              <br>
            </div>
            <div align="center">
              <a href="/adminMajor" class="btn btn-primary" >กลับ</a>
            <a href="/adminMajor/delete/<%= data1.idmajor %>" class="btn btn-danger"> ยืนยัน ? </a>
          </div>

        </div>
      </div>
    </div>
  </div>
</div>
<style>
  #man-id{
    position: relative;
    left: -10px;
  }

  
</style>

<%- include ('../../views/_footer.ejs') %>