<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="utf-8">
    <title> Project SCIT </title>

    <link rel="stylesheet" href="https://bootswatch.com/4/united/bootstrap.min.css"
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/2.5.2/umd/popper.min.js"></script>
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"  crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"  crossorigin="anonymous"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
<script src='https://scit.crru.ac.th/crru_scit/assets/themes/ver-1/img/logo.png'></script>




      <nav class="navbar navbar-expand-lg navbar-light bg-light cc_cursor">
  <a class="navbar-brand" href="/home"><h1 id="h111-id"><i class=""><IMG SRC = "/logo.png"> </i><span> </span></h1></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>



  <div align="left" >

  <h1 class="text-primary" align="center"><font size="5"> <b> ฐานข้อมูลวิทยานิพนธ์อิเล็กทรอนิกส์ <br>สำนักวิชาคอมพิวเตอร์และเทคโนโลยีสารสนเทศ มหาวิทยาลัยราชภัฏเชียงราย</b></font></h1>


  <div class="collapse navbar-collapse" id="navbarColor03">


      <!-- new -->
      <% if(session.admin){ %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" id="dd-1">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fax"></i><span> </span> ข้อมูลงานวิจัย</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/adminproject">งานวิจัย</a>
              <a class="dropdown-item" href="/teachertype">ตำแหน่งอาจารย์</a>
            </div>
          </li>
          <li class="nav-item dropdown" id="dd-3">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-exclamation-triangle"></i><span> </span> ข้อมูลหน่วยงาน</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/adminDepartment">โปรแกรมวิชา</a>
              <a class="dropdown-item" href="/adminmajor">คณะ</a>
            </div>
          </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item dropdown" id="dd-2">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card"></i><span> </span> ข้อมูลผู้ใช้งาน</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/adminstudent">นักศึกษา</a>
              <a class="dropdown-item" href="/uiadminteacher">อาจารย์</a>
              <a class="dropdown-item" href="/admin">ผู้ดูแลระบบ</a>
      <% }else if(session.teacher) { %>
        <ul class="navbar-nav mr-auto">
          <li class="nav-item dropdown" id="dd-1">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fax"></i><span> </span> ข้อมูลงานวิจัย</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/uiteacher">งานวิจัย</a>
              <a class="dropdown-item" href="/teachertype">ตำแหน่งอาจารย์</a>
            </div>
          </li>
          <li class="nav-item dropdown" id="dd-3">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-exclamation-triangle"></i><span> </span> ข้อมูลหน่วยงาน</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="/department">โปรแกรมวิชา</a>
              <a class="dropdown-item" href="/major">คณะ</a>
            </div>
          </li>
        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
          <li class="nav-item dropdown" id="dd-2">
            <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card"></i><span> </span> ข้อมูลผู้ใช้งาน</a>
            <div class="dropdown-menu">

              <a class="dropdown-item" href="/uiadminteacher">อาจารย์</a>

        <% }else if(session.student) { %>
          <ul class="navbar-nav mr-auto">
            <li class="nav-item dropdown" id="dd-1">
              <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-fax"></i><span> </span> ข้อมูลงานวิจัย</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/uistudent">งานวิจัย</a>

              </div>
            </li>
            <li class="nav-item dropdown" id="dd-3">
              <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-exclamation-triangle"></i><span> </span> ข้อมูลหน่วยงาน</a>
              <div class="dropdown-menu">
                <a class="dropdown-item" href="/department">โปรแกรมวิชา</a>
                <a class="dropdown-item" href="/major">คณะ</a>
              </div>
            </li>
          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
            <li class="nav-item dropdown" id="dd-2">
              <a class="ti-angle-down" data-toggle="dropdown" href="#" role="button" aria-haspopup="true" aria-expanded="false"><i class="fas fa-address-card"></i><span> </span> ข้อมูลผู้ใช้งาน</a>
              <div class="dropdown-menu">

                <a class="dropdown-item" href="/adminstudent">นักศึกษา</a>


          <% } %>

    </div>
  </li>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
  &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

  <a  style="border: 3px solid ;" class="btn btn-primary" href="/logout" id="logout-id">Logout <span> </span><i class="fas fa-sign-out-alt"></i></a>

</ul>
</div>
</div>


</div>
  </head>
</nav>
<body >

</body >


<% JSON.stringify(session) %>
<% if(session.success==false){ %>
<% for(var i=0; i <session.errors.errors.length;i++){ %>
<div class="alert alert-danger" role="alert" align="center">
  <%= session.errors.errors[i]["msg"] %>
</div>
<% } session.success=null; } %>

<% if(session.success==true){ %>
  <div class="alert alert-success" role="alert" align="center">
    <%= session.topic %>
  </div>
<% } session.success=null; %>
</body>

<style>
  body
  /* Image style */
   #scrollUp {
       background-image: url('home.jpg');
       background-size: 100% 100%;
       margin: 0%;
       padding: 0%;

   }

  {
      list-style: none;
      background-repeat: no-repeat;
      background-attachment: fixed;
      background-size: 100% 100%;
  }

  #h111-id {
       font-size: 60px;
       font-family: "Times New Roman", Times, serif
   }

  #nameuser{
      position: relative;
      top: 10px;
      right: 70px;
      font-size: 16px;
  }

  #dd-1{
    display: inline;
    left: 30px;
    font-size: 20px;
  }
  #dd-2{
    display: inline;
    left: 50px;
    font-size: 20px;
  }
  #dd-3{
    display: inline;
    left: 70px;
    font-size: 20px;
  }
  #dd-4{
    display: inline;
    left: 90px;
    font-size: 20px;
  }
  #dd-5{
    display: inline;
    left: 110px;
    font-size: 20px;
  }
  #h111-id:hover{
color: #1E90FF;
font-size: 65px;
    transition: 0.8s;

  }
  #logout-id{
    font-size: 15px;
    transition: 0.5s;
  }
</style>
</html>
