<%- include("_header") %>
<% JSON.stringify(session) %>
<body>

<ul id="ul-2">
    <li><a href="/closeproblem" id="close"><i class="fa fa-times-circle" aria-hidden="true"></i><br> à¸›à¸´à¸”à¸‡à¸²à¸™</a></li>
</ul>

</body>
<style>
    body {
        background-image: url('PubNative-Web-Background-Design.png');
        background-size: 100% 100%;
        margin: 0%;
        padding: 0%;

    }
    #ul{
        position: absolute;
        list-style: none;
        display: flex;
        top: 30%;
        left: 7%;
    }
    #ul li{
        position: relative;
        margin: 0 50px;
        text-align: center;
    }
    #ul li a{
        text-decoration:none;
       transition: 0.5s;
       font-size: 20px;
    }
    #ul li i{
       font-size: 80px;
        width: 200px;
        height: 200px;
        background: #1E90FF;
        display: block;
        text-align: center;
        line-height: 70px;
        color: aliceblue;
        border-radius: 50%;
        padding-top: 30%;
        box-shadow: 5px 5px 10px #000000;
    }
    #ul-2{
        position: absolute;
        list-style: none;
        display: flex;
        top: 68%;
        left: 7%;
    }
    #ul-2 li{
        position: relative;
        margin: 0 50px;
        text-align: center;
    }
    #ul-2 li a{
        text-decoration:none;
       transition: 0.5s;
       font-size: 20px;
    }
    #ul-2 li i{
       font-size: 100px;
        width: 200px;
        height: 200px;
        background: #FF4500;
        display: block;
        text-align: center;
        line-height: 70px;
        color: aliceblue;
        border-radius: 50%;
        padding-top: 30%;
        box-shadow: 5px 5px 10px #000000;
    }
  #ul li:hover{
      transform:translateY(-15px) ;
      transition: 0.5s;
  }
  #ul-2 li:hover{
      transform:translateY(-15px) ;
      transition: 0.5s;
  }




</style>

<div>

</div>
<%- include ( '_footer.ejs') %>
