<%- include ("_header") %>
<html lang="en" dir="ltr">

<head>

</head>

<body>
<style>
        body {
            background-image: url('home.webp');
            background-attachment: fixed;
            background-size: 100% 100%;
        }

        #btn-2{
            position: fixed;
           left:82%;
           top: 3%;
        }
        #img-1{
            position: fixed;
            width: 50%;
            height: 60%;
            left: 25% ;
            top: 150px;
            box-shadow: 5px 10px 20px;
        }
        #mq-1{
            position: fixed;
            top: 70px;
        }
        #box {
            position: relative;
            top: 100px;
        }
        #box-text{
            position: relative;
            left: 90px;
        }
        p{
            position: relative;
            display: inline;
        }
    </style>

    </body>
</html>
<%- include ("_footer") %>
