<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>LOGIN SCIT</title>
    <link rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.1.3/css/bootstrap.min.css'>
    <link rel='stylesheet' href='https://fonts.googleapis.com/css?family=PT+Sans'>
    <link rel="stylesheet" href="../style.css">

</head>

<body>

    <!-- partial:index.partial.html -->
    <!-- Button trigger modal -->
        <div align="center">
        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal1">
        เข้าสู่ระบบนักศึกษา
        </button>
        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal2">
        เข้าสู่ระบบอาจารย์
        </button>
        <button type="button" class="btn  btn-primary" data-toggle="modal" data-target="#exampleModal3">
        เข้าสู่ระบบผู้ดูแลระบบ
        </button></div>
    
    <form>
        <% if(session.success==false){ %>
            <% for(var i=0;i<session.errors.errors.length;i++){ %>
                <div class="alert alert-danger" role="alert" align="center">
                    <strong><%= session.errors.errors[i]["msg"] %></strong>
                </div>
                <%   } session.success=null; } %>
                    <% if(session.success==true){ %>
                        <div class="alert alert-success" role="alert" align="center">
                            <strong> <%= session.topic %></strong>
                        </div>
                        <%   } session.success=null;  %>
    </form>
    <!-- Modal1 -->
    <div class="modal fade" id="exampleModal1" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>นักศึกษา</h1>
                        <h3></h3>
                        <form action="/login/student" method="post">
                            <div class="form-group">
                                <label for="exampleInputName">ชื่อผู้ใช้</label>
                                <input type="name" class="form-control" id="exampleInputName" placeholder="ชื่อผู้ใช้" name="studentcode">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">รหัสผ่าน</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="รหัสผ่าน" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                        </form>
                    </div>
                    <div>

                    </div>
                    <div class="column" id="secondary">
                        <div class="sec-content">
                            <h2></h2>
                            <h3></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal2 -->
    <div class="modal fade" id="exampleModal2" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>อาจารย์</h1>
                        <h3></h3>
                        <form action="/login/teacher" method="POST">
                            <div class="form-group">
                                <label for="exampleInputName">ชื่อผู้ใช้</label>
                                <input type="name" class="form-control" id="exampleInputName" placeholder="ชื่อผู้ใช้" name="username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">รหัสผ่าน</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="รหัสผ่าน" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                        </form>
                    </div>
                    <div>

                    </div>
                    <div class="column" id="secondary2">
                        <div class="sec-content">
                            <h2></h2>
                            <h3></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Modal3 -->
    <div class="modal fade" id="exampleModal3" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-body">
                    <div class="column" id="main">
                        <h1>ผู้ดูแลระบบ</h1>
                        <h3></h3>
                        <form action="/login/admin" method="POST">
                            <div class="form-group">
                                <label for="exampleInputName">ชื่อผู้ใช้</label>
                                <input type="name" class="form-control" id="exampleInputName" placeholder="ชื่อผู้ใช้" name="username">
                            </div>
                            <div class="form-group">
                                <label for="exampleInputPassword1">รหัสผ่าน</label>
                                <input type="password" class="form-control" id="exampleInputPassword1" placeholder="รหัสผ่าน" name="password">
                            </div>
                            <button type="submit" class="btn btn-primary">เข้าสู่ระบบ</button>
                        </form>
                    </div>
                    <div>

                    </div>
                    <div class="column" id="secondary3">
                        <div class="sec-content">
                            <h2></h2>
                            <h3></h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- table -->



    <!-- partial -->
    <script src='https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.0/jquery.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.15.0/popper.min.js'></script>
    <script src='https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.3.1/js/bootstrap.min.js'></script>
</body>

</html>