<%- include ("../../views/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-3"></div>
    <div class="col-md-6">
      <div class="card">
        <div class="card-body">
          <table class="table table-hover">
              <thead>
                  <tr>
                      <th>ลำดับ</th>
                      <th>ชื่อนักศึกษา (นามสกุล)</th>
                      <th>รหัสนักศึกษา</th>
                      <th>ตัวเลือก</th> 
                  </tr>
              </thead>
              <tbody>
                <% if(data){ %>
                    <%  for(var i=0;i<data.length;i++){ %> 
                        <tr>
                            <td> <%= (i+1) %> </td>
                            <td> <%= data[i].firstname %> <%= data[i].lastname %></td>
                            <td> <%= data[i].studentcode %></td>
                            <td><a href="/uistudent/toSave/<%= data[i].id %>" class="btn btn-success">ยืนยัน</a>
                            </td>
                        </tr>
                    <%  } %>
                <%  } %>
              </tbody>
          </table>
            <form>
            <input type=button 
            onClick="window.history.back()" 
            value="Back" class="btn btn-info">
            </form>
        </div>
      </div>
    </div>
  </div>
</div>
<%- include ("../../views/_footer") %>