<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                        <form action="/uistudent/save" method="POST">
        
                        <div class="form-group">
                        <h5>ชื่อวิจัย (ภาษาไทย)<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="nameth" 
                        placeholder="ชื่อวิจัย" 
                        class="form-control">
                        </div></div>
        
                        <div class="form-group">
                        <h5>ชื่อวิจัย (ภาษาอังกฤษ)<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="nameen" 
                        placeholder="project" 
                        class="form-control">
                        </div></div>

                        <p><h5>อาจารย์ที่ปรึกษา<font color=#FF0000>*</font></h5>  <select class ='form-control' name='teacher_id'>

                            <option value=""> เลือก </option>
                            <% if(data1) { %>
                            <% for(var i=0; i<data1.length; i++){ %>
                              <option value="<%= data1[i].id %>">
                                <%= data1[i].name %>
                                </option>
                            <%}%>
                          <%}%>
                          </select></p>

                        <div class="form-group">
                        <h5>ปีการศึกษา<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="year" 
                        placeholder="พศ." 
                        class="form-control">
                        </div></div>
                        
                        <div align="center">
                        <a href="/uistudent" class="btn btn-info"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">ยืนยัน</button></div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../../views/_footer") %>