<%- include ("../../views/_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">

                        <form action="/uistudent/update/<%= data.idpj %>" method="POST">
        
                        <div class="form-group">
                        <h5>ชื่อวิจัย (ภาษาไทย)<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="nameth" 
                        value="<%= data.nameth %>" 
                        class="form-control">
                        </div></div>
        
                        <div class="form-group">
                        <h5>ชื่อวิจัย (ภาษาอังกฤษ)<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="nameen" 
                        value="<%= data.nameen %>"  
                        class="form-control">
                        </div></div>

                        <h5>อาจารย์ที่ปรึกษา<font color=#FF0000>*</font></h5>  <select class ='form-control' name='teacher_id'>
                              <% if(data1) { %>
                              <% for(var i=0; i<data1.length; i++){ %>
                                <option value="<%= data1[i].id%>"
                                  <% if(data1[i].id==data.teacher_id) { %> selected <% } %> >
                                  <%= data1[i].name %>
                                  </option>
                              <%}%>
                            <%}%>
                            </select><br></br>

                        <div class="form-group">
                        <h5>ปีการศึกษา<font color=#FF0000>*</font></h5><div><input type="text" 
                        name="year" 
                        value="<%= data.year %>" 
                        class="form-control">
                        </div></div>
                        
                        <div class="form-group" >
                        <label for="exampleTextarea"> 
                            <h5>บทคัดย่อ<font color=#FF0000>*</font></h5> 
                        </label>
                        <textarea type="text" name="abstract" class="form-control"  value="<%= data.abstract %>"  id="exampleTextarea" rows="5"><%= data.abstract %></textarea>
                        </div>
                        <div align="center">
                        <a href="/uistudent" class="btn btn-info"> กลับ </a>
                        <button type="submit" 
                        class="btn btn-success">ยืนยัน</button></div>
                        </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../../views/_footer") %>