<%- include ("../../views/_header") %>
<% if(data==null){ %>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
<div class="row mt-5"></div>
        <div class="row mt-1">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                        <div align="center"><h2 align="center">ท่านยังไม่มีงานวิจัย โปรดเพิ่มวิจัยของท่าน</h2> <br><br><br>
                            <p><a href="/uistudent/add" class="btn btn-success" > เพิ่มข้อมูลงานวิจัยของท่าน </a></p>
                            <% } %>

                            <% if(data != null) { %>
        <div class="row mt-5">
            <div class="col-md-2"></div>
                <div class="col-md-8">
                        <div align="center">
                            <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <h5>
                                        <font color="#0000"> ชื่อวิจัย (ภาษาไทย) </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> &nbsp;:&nbsp; </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> <%= data.nameth %> </font>
                                      </h5>
                                    </td>
                                  </tr>
                  
                                  <tr>
                                    <td>
                                      <h5>
                                        <font color="#0000"> ชื่อวิจัย (ภาษอังกฤษ) </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> &nbsp;:&nbsp; </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> <%= data.nameen %> </font>
                                      </h5>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <br>
                              <div align="center"><h5><font color="#0000"> ชื่อผู้วิจัย</font></h5></div>
                              <div class="form-group">
                                <div class="col-md-4"></div>
                                <div class="col-md-4">
                                <div class="card">
                                  <div class="card-body" align="center">
                                    <% if(data1){ %>
                                    <table class="table table-hover">
                                        <thead align="center">
                                            <tr>
                                                <th>ชื่อ</th>
                                                <th>นามสกุล</th>
                                            </tr>
                                        </thead>
                                        <tbody align="center">
                                              <%  for(var i=0;i<data1.length;i++){ %> 
                                                  <tr>
                                                      <td> <%= data1[i].firstname %></td>
                                                      <td> <%= data1[i].lastname %></td>
                                                  </tr>
                                              <%  } %>
                                            
                                        </tbody>
                                    </table>
                                    <%  } %>
                                      <a href="/uistudent/listAddStudent/<%= data.idp %>" class="btn btn-info"> แก้ไขผู้จัย </a>
                                    </div>
                                </div>
                            </div>
                        </div><br>
                            <table>
                                <tbody>
                                  <tr>
                                    <td>
                                      <h5>
                                        <font color="#0000"> อาจารย์ที่ปรึกษา </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> &nbsp;:&nbsp; </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> <%= data.nameteh %> </font>
                                      </h5>
                                    </td>
                                  </tr>
                  
                                  <tr>
                                    <td>
                                      <h5>
                                        <font color="#0000"> ปีการศึกษา </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> &nbsp;:&nbsp; </font>
                                      </h5>
                                    </td>
                                    <td>
                                      <h5>
                                        <font color="#0000"> <%= data.year %> </font>
                                      </h5>
                                    </td>
                                  </tr>
                                </tbody>
                              </table>
                              <br>
                              <a href="/uistudent/update/<%= data.idp %>" class="btn btn-info"> แก้ไข </a>
                              <a href="/uistudent/upload/<%= data.idp %>" class="btn btn-primary"> อัปโหลดรูป </a>
                            <% } %>
                          </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
    </div>
</div>  
    <%- include ("../../views/_footer") %>