<%- include ("../../views/_header") %>

<div class="container mt-5">
  <div class="row">
    <div class="col-md-2"></div>
    <div class="col-md-8">
      <div class="card">
        <div class="card-body">
            <table>
              <tbody>
                <tr>
                  <td>
                    <h5>
                      <font color="#0000"> ชื่อวิจัย (ภาษาไทย) </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> &nbsp;:&nbsp; </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> <%= data.nameth %> </font>
                    </h5>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h5>
                      <font color="#0000"> ชื่อวิจัย (ภาษอังกฤษ) </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> &nbsp;:&nbsp; </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> <%= data.nameen %> </font>
                    </h5>
                  </td>
                </tr>
              </tbody>
            </table>
            <h5>
              <font color="#0000"> ชื่อผู้วิจัย</font>
            </h5>
            <div class="form-group">
              <div class="card">
                <div class="card-body" align="center">
                  <p><a href="/uistudent/toDepartment" class="btn btn-success"> เพิ่มผู้วิจัย </a></p>
                  <% if(data1){ %>
                    <table class="table table-hover">
                      <thead align="center">
                          <tr>
                              <th>ชื่อ</th>
                              <th>นามสกุล</th>
                              <th>รหัสนักศึกษา</th>
                              <th>ตัวเลือก</th>
                          </tr>
                      </thead>
                      <tbody align="center">
                            <%  for(var i=0;i<data1.length;i++){ %> 
                                <tr>
                                    <td> <%= data1[i].firstname %></td>
                                    <td> <%= data1[i].lastname %></td>
                                    <td> <%= data1[i].studentcode %></td>
                                    <td> <a href="/uistudent/delete/<%= data1[i].id %>" class="btn btn-danger"> ลบ </a></td>
                                </tr>
                            <%  } %>
                            <% } %>
                      </tbody>
                  </table>
                </div>
              </div>
            </div>

            <table>
              <tbody>
                <tr>
                  <td>
                    <h5>
                      <font color="#0000"> อาจารย์ที่ปรึกษา </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> &nbsp;:&nbsp; </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> <%= data.nameteh %> </font>
                    </h5>
                  </td>
                </tr>

                <tr>
                  <td>
                    <h5>
                      <font color="#0000"> ปีการศึกษา </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> &nbsp;:&nbsp; </font>
                    </h5>
                  </td>
                  <td>
                    <h5>
                      <font color="#0000"> <%= data.year %> </font>
                    </h5>
                  </td>
                </tr>
              </tbody>
            </table>
            <br /><br />

            <div align="center">
              <a href="/uistudent/add" class="btn btn-info"> กลับ </a>
              <a href="/uistudent" class="btn btn-success"> ยืนยัน </a>
            </div>
        </div>
      </div>
    </div>
  </div>
  <%- include ("../../views/_footer") %>
</div>
