<%- include ("../_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">เพิ่มผู้วิจัย</h2>
                        <form action="/uiteacher/addstudent2/<%= iddata %>" method="POST">
                          <div class="form-group">
                          เลือกสำนัก<font  color=#ff0000>*</font>  <select class ='form-control' name='department_id'>
                              <option value=""> เลือก </option>
                              <% if(data1) { %>
                              <% for(var i=0; i<data1.length; i++){ %>
                                <option value="<%= data1[i].id %>">
                                  <%= data1[i].name %>
                                  </option>
                              <%}%>

<% } %>
</select>
</div>
<br>
                          <div class="" align="center">


                          <a href="/uiteacher/detail/<%= iddata %>" class="btn btn-primary"> กลับ </a>&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="submit" class="btn btn-success">ยืนยัน</button>
                          </div>
</form>

                        </div>
                        </div>
                        </div>
                        </div>
<%- include ("../../views/_footer") %>
