
    <%- include ("../_header") %>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                <h1 align="center"><font  color=#0000> รายละเอียด </font></h1>
                <br>
            <table class="container">

              <tr>
                <td style="width:40%;"><h5>ชื่อวิจัย(ไทย)</h5></td>
                <td style="width:60%;"><h5>: <%= data1[0].nameth %></td>
              </tr>
              <tr>
                <td><h5>ชื่อวิจัย(อังกฤษ)</h5></td>
                <td><h5>: <%= data1[0].nameen %></h5></td>
              </tr>
</table>
<br>
<div class="form-group">
                      <h5 align="center">ผู้วิจัย</h5>  <p align = 'right'><a href="/uiteacher/addstudent/<%= data1[0].id %>" class="btn btn-success btn-sm">เพิ่มผู้วิจัย</a></p>
</div>
                                      <table class="table table-hover">
                                      <thead>
                                      <tr class="table-active">
                                        <th style="width:5%; text-align:center;"><h6>ลำดับ</h6></th>
                                        <th style="width:30%; text-align:center;"><h6>รหัสนักศึกษา</h6></th>
                                        <th style="width:40%; text-align:center;"><h6>ชื่อผู้วิจัย</h6></th>

                                      <th style="width:25%; text-align:center;"><h6>ตัวเลือก</h6></th>

                                      </tr>
                                      </thead>
                                      <tbody>
                                        <% if(data2){ %>
                                            <%  for(var i=0;i<data2.length;i++){ %>
                                                <tr>
                                                    <td style="text-align:center;"> <h6><%= (i+1) %></h6> </td>
                                                      <td style="text-align:center;"><h6><%= data2[i].studentcode %></h6></td>
                                                    <td style="text-align:center;"> <h6><%= data2[i].firstname %> <%= data2[i].lastname %></h6>
                                                    <h6>(<%= data2[i].phone %>)</h6></td>



                                                    <td style="text-align:center;" ><a href="/uiteacher/studentdelete/<%= data2[i].id%>_<%= data1[0].id %>" class="btn btn-danger"> ลบ </a>
                                                    </td>
                                                </tr>
                                            <%  } %>
                                        <%  } %>

                                        </tbody>
                                        </table>
                                        <br>
                        <table class="container">

                          <tr>
                            <td style="width:40%;"><h4>อาจารย์ที่ปรึกษา</h4></td>
                            <td style="width:60%;"><h4>: <%= data[0].name %></h4></td>
                          </tr>
              <tr>
                <td><h5>ปีการศึกษา</h5></td>
                <td><h5>: <%= data1[0].year %></h5></td>
              </tr>



            </table>

              <br>
              <div align="center" >
                <a  href="/uiteacher" class="btn btn-primary"> กลับ </a>
              <a href="/uiteacher/del/<%= data1[0].id %>" class="btn btn-danger"> ลบ </a>
                 <a href="/uiteacher/edit/<%= data1[0].id %>" class="btn btn-info"> แก้ใข </a>
                 <a href="/uiteacher/upload/<%= data1[0].id %>" class="btn btn-warning"> อัปโหลดไฟล์ </a>
</div>
      </div>
  </div>

<%- include ("../../views/_footer") %>
