
    <%- include ("../_header") %>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                <h1 align="center"><font  color=#0000> ยืนยันการลบผู้วิจัย </font></h1>
                <br>
            <table class="container">

              <tr>
                <td style="width:40%;"><h4>ชื่อวิจัย</h4></td>
                <td style="width:60%;"><h4>: <%= data1[0].nameth %></td>
              </tr>
              <tr>
                <td><h4>ชื่อผู้วิจัย</h4></td>
                <td><h4>: <%= data2[0].firstname %>  <%= data2[0].lastname %></h4></td>
              </tr>
          </table>
              <div align="center" >
                <a  href="/uiteacher" class="btn btn-primary"> กลับ </a>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/uiteacher/deletestudent/<%= data3 %>" class="btn btn-danger"> ยืนยัน </a>

</div>
      </div>
  </div>

<%- include ("../../views/_footer") %>
