
    <%- include ("../_header") %>

  <div class="container mt-5">
      <div class="row">
          <div class="col-md-3"></div>
          <div class="col-md-6">
              <div class="card">
                  <div class="card-body">
                <h1 align="center"><font  color=#0000> ยืนยันการลบ </font></h1>
                <br>
            <table class="container">

              <tr>
                <td style="width:40%;"><h4>ชื่อวิจัย(ไทย)</h4></td>
                <td style="width:60%;"><h4>: <%= data1[0].nameth %></td>
              </tr>
              <tr>
                <td><h4>ชื่อวิจัย(อังกฤษ)</h4></td>
                <td><h4>: <%= data1[0].nameen %></h4></td>
              </tr>

              <tr>
                <td><h4>อาจารย์ที่ปรึกษา</h4></td>
                <td><h4>: <%= data[0].name %></h4></td>
              </tr>
              <tr>
                <td><h4>ปีการศึกษา</h4></td>
                <td><h4>: <%= data1[0].year %></h4></td>
              </tr>



            </table>




              <br>
              <div align="center" >
                <a  href="/uiteacher/detail/<%= data1[0].id %>" class="btn btn-primary"> กลับ </a>
                &nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
              <a href="/uiteacher/delete/<%= data1[0].id %>" class="btn btn-danger"> ยืนยัน </a>

</div>
      </div>
  </div>

<%- include ("../../views/_footer") %>
