<%- include ("../_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">เพิ่มงานวิจัย</h2>
                        <form action="/uiteacher/save/" method="POST">
                          <div class="form-group">
                          ชื่อวิจัย(ไทย)<font  color=red>*</font> <input type="text"
                          name="nameth"
                          placeholder="ชื่อวิจัย(ไทย)"
                          class="form-control">
                          </div>
                          <div class="form-group">
                          ชื่อวิจัย(อังกฤษ)<font  color=red>*</font> <input type="text"
                          name="nameen"
                          placeholder="ชื่อวิจัย(อังกฤษ)"
                          class="form-control">
                          </div>
<div id="spoiler" style="display:none">
                          <div class="form-group">
                          ชื่ออาจารย์ที่ปรึกษา<font  color=red>*</font> <input type="text"
                          name="teacher_id"
                          placeholder="ชื่ออาจารย์ที่ปรึกษา"
                          value="<%= teacher %>"
                          class="form-control">
                          </div>
                              </div>
                          <div class="form-group">
                          ปีการศึกษา<font  color=red>*</font> <input type="text"
                          name="year"
                          placeholder="  ปีการศึกษา"
                          class="form-control">
                          </div>





                          <div class="" align="center">


                          <a href="/uiteacher" class="btn btn-primary"> กลับ </a>&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="submit" class="btn btn-success">ยืนยัน</button>
                          </div>


                        </div>
                        </div>
                        </div>
                        </div>
<%- include ("../../views/_footer") %>
