<%- include ("../_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">แก้ใขงานวิจัย</h2>
                        <form action="/uiteacher/update/<%= data1[0].id %>" method="POST">
                          <div class="form-group">
                          ชื่อวิจัย(ไทย)<font  color=red>*</font> <input type="text"
                          name="nameth"
                          placeholder="ชื่อวิจัย(ไทย)"
                            value="<%= data1[0].nameth %>"
                          class="form-control">
                          </div>
                          <div class="form-group">
                          ชื่อวิจัย(อังกฤษ)<font  color=red>*</font> <input type="text"
                          name="nameen"
                          placeholder="ชื่อวิจัย(อังกฤษ)"
                            value="<%= data1[0].nameen %>"
                          class="form-control">
                          </div>






                          <div class="form-group">
                          ปีการศึกษา<font  color=red>*</font> <input type="text"
                          name="year"
                          placeholder="  ปีการศึกษา"
                          value="<%= data1[0].year %>"
                          class="form-control">
                          </div>






                          <div class="" align="center">


                          <a href="/uiteacher/detail/<%= data1[0].id %>" class="btn btn-primary"> กลับ </a>&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="submit" class="btn btn-success">ยืนยัน</button>
                          </div>


                        </div>
                        </div>
                        </div>
                        </div>
<%- include ("../../views/_footer") %>
