<%- include ("../_header") %>
<br>
<div class="container">
  <div class="row mt-2">
    <div class="col-md-0"></div>
    <div class="col-md-12">

<br>
<h1 align = 'center'><b> โปรแกรมวิชา  </b></h1>
      <p align = 'right'><a href="/uiteacher/add" class="btn btn-success btn-lg">เพิ่มงานวิจัย</a></p>

<table class="table table-hover">
  <thead>
<tr class="table-active">
  <th style="width:10%; text-align:center;">ลำดับ</th>
  <th style="width:30%; text-align:center;">ชื่องานวิจัย</th>
  <th style="width:25%; text-align:center;">ชื่อผู้วิจัย</th>
<th style="width:10%; text-align:center;">ปีการศึกษา</th>
<th style="width:16%; text-align:center;">ตัวเลือก</th>
</tr>
  </thead>
<tbody>
  <% if(data1){ %>
      <%  for(var i=0;i<data1.length;i++){ %>
          <tr>
              <td style="text-align:center;"> <%= (i+1) %> </td>
              <td style="text-align:center;"> <%= data1[i].nameth %>(<%= data1[i].nameen %>) </td>
              <td style="text-align:center;">
                 <% if(data2){ %>
                    <%  for(var j=0;j<data2.length;j++){ %>
                      <% if(data2[j].project_id==data1[i].id){ %>
                      <%= data2[j].firstname %>  <%= data2[j].lastname %>
                      (<%= data2[j].phone %>)
                      <br>
                      <%  } %><%  } %>
                  <%  } %></td>

              <td style="text-align:center;"> <%= data1[i].year %> </td>
              <td style="text-align:center;" ><a href="/uiteacher/detail/<%= data1[i].id%>" class="btn btn-warning"> รายละเอียด </a>
              </td>
          </tr>
      <%  } %>
  <%  } %>

</tbody>
</table>

    </div>


  </div>

<%- include ("../../views/_footer") %>
