<%- include ("../../views/_header") %>
    <% JSON.stringify(data) %>
        <div class="continer">
            <div class="row mt-3">
                <div class="col-md-3"></div>
                <div class="col-md-7">
                    <br></br>
                    <h3>
                        <center> AdminTeacher </center>
                        <h3>
                            <div align="right">
                                <a href="/uiadminteacher/add" class="btn btn-success" align="right" id="did">เพิ่มข้อมูล</a>
                            </div>
                            <table class="table table-bordered table-hover">
                                <thead>
                                    <tr class="table-active">
                                        <th>ลำดับ</th>
                                        <th>ชื่อ-นามสกุล</th>
                                        <th>ตำแหน่งงาน</th>
                                        <th>ไอดี</th>
                                        <th>รหัสผ่าน</th>
                                        <th>email</th>
                                        <th>ตัวเลือก</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <% if(data){ %>
                                        <%  for(var i=0;i<data.length;i++){ %>
                                            <tr>
                                                <td>
                                                    <%= (i+1) %>
                                                </td>
                                                <td>
                                                    <%= data[i].name %>
                                                </td>
                                                <td>
                                                    <%= data[i].jobposition %>
                                                </td>
                                                <td>
                                                    <%= data[i].username %>
                                                </td>
                                                <td>
                                                    <%= data[i].password %>
                                                </td>
                                                <td>
                                                    <%= data[i].email %>
                                                </td>
                                                <td>
                                                    <a href="/uiadminteacher/edit/<%= data[i].id %>" class="btn btn-info mx-1 mb-1"> แก้ไข </a>
                                                    <a href="/uiadminteacher/del/<%= data[i].id %>" class="btn btn-danger mx-1 mb-1"> ลบ </a>
                                                </td>
                                            </tr>
                                            <%  } %>
                                                <%  } %>
                                </tbody>
                            </table>
                </div>
            </div>
        </div>