<%- include ("../../views/_header") %>
    <% JSON.stringify(data) %>
        <div class="container mt-5">
            <div class="row">
                <div class="col-md-2"></div>
                <div class="col-md-6">
                    <div class="card">
                        <div class="card-body">
                            <h2 align="center">เพิ่มข้อมูล</h2><br>
                            <form action="/uiadminteacher/save" method="POST">
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">ชื่อ</label>
                                    <input type="text" class="form-control" placeholder="กรุณาป้อนชื่อ..." name="name">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">ตำแหน่งงาน</label>
                                    <input type="text" class="form-control" placeholder="กรุณาป้อนตำเเหน่งงาน..." name="jobposition">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">ไอดีผู้ใช้</label>
                                    <input type="text" class="form-control" placeholder="กรุณาป้อนไอดีผู้ใช้..." name="username">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">รหัสผ่าน</label>
                                    <input type="text" class="form-control" placeholder="กรุณาป้อนรหัสผ่าน..." name="password">
                                </div>
                                <div class="form-group">
                                    <label class="col-form-label" for="inputDefault">อีเมลล์</label>
                                    <input type="text" class="form-control" placeholder="กรุณาป้อนอีเมลล์..." name="email">
                                </div>

                                <div align="center"><a href="/uiadminteacher" class="btn btn-primary"> กลับ </a>&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                    <button type="submit" class="btn btn-success">submit</button>

                            </form>

                            </div>
                        </div>
                    </div>
                </div>
                <%- include ("../../views/_footer") %>