<%- include ("../../views/_header") %>
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-6">
                <div class="card">
                    <div class="card-body">
                        <h2 align="center">ลบรายการ</h2><br>
                        <div class="form-group" align="center">
                            <h5 align="center">
                                <font color=#0000>รายละเอียด</font>
                            </h5>

                            <div class="form-group" align="left">
                                <h5>
                                    <font color=#0000>ชื่อ :
                                        <%= data.name%>
                                    </font>
                                </h5>
                            </div>

                            <div class="form-group" align="left">
                                <h5>
                                    <font color=#0000>ตำเเหน่งงาน :
                                        <%= data.jobposition%>
                                    </font>
                                </h5>
                            </div>

                            <div class="form-group" align="left">
                                <h5>
                                    <font color=#0000>ไอดี :
                                        <%= data.username%>
                                    </font>
                                </h5>
                            </div>

                            <div class="form-group" align="left">
                                <h5>
                                    <font color=#0000>รหัสผ่าน :
                                        <%= data.password%>
                                    </font>
                                </h5>
                            </div>

                            <div class="form-group" align="left">
                                <h5>
                                    <font color=#0000>อีเมลล์ :
                                        <%= data.email%>
                                    </font>
                                </h5>
                            </div>






                            <div align="center"><a href="/uiadminteacher" class="btn btn-primary"> กลับ </a> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                                <a href="/uiadminteacher/delete/<%= data.id%>" class="btn btn-danger"> ทำการลบ </a></div>

                        </div>
                    </div>
                </div>
            </div>
            <%- include ("../../views/_footer") %>