<%- include ("../_header") %>
<% JSON.stringify(data) %>
<div class="container mt-6">
    <div class="row mt-5">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                    <form action="/adminDepartment/update/<%= data.id %>" method="post">
                        <p align="center">
                            <font color=#000000 style="font-size:30px">แก้ไข ข้อมูล</font>
                        </p>
                        <div class="form-group">
                            <a style="font-size:20px">คณะ <font color=#FF0000>*</font></a>
                            <input type="text" name="name" value="<%= data.name %>"
                                class="form-control">
                        </div>
                        <a href="/adminDepartment" class="btn btn-primary">กลับ</a>
                        <button type="submit" class="btn btn-success">บันทึก</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
<%- include ("../_footer") %>