<%- include ('../../views/_header.ejs') %>
<% JSON.stringify(data) %>
<div class="container mt-6">
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <h1 align='center'><b> โปรแกรมวิชา </b></h1>
            <p align='right'><a href="/adminDepartment/add" align="" class="btn btn-success btn-lg">เพิ่ม</a></p>
            <table class="table table-hover">
                <thead>
                    <tr class="table table-bordered table-hover mt-5">
                        <th style="text-align: center;">ลำดับ</th>
                        <th style="text-align: center;">คณะ</th>
                        <th style="text-align: center;">ตัวเลือก</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr class="table table-bordered table-hover mt-5">
                        <td align='center'>
                            <%= (i+1) %>
                        </td>
                        <td align='center'>
                            <%= data[i].name %>
                        </td>
                        <td align='center'>
                            <a href="/adminDepartment/del/<%= data[i].id %>" class="btn btn-danger"> ลบ </a>
                            <a href="/adminDepartment/edit/<%= data[i].id %>" class="btn btn-info"> แก้ไข </a>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <style> 
        </style>


            <%- include ('../../views/_footer.ejs') %>