<%- include ("../../views/_header") %>
    <div class="container mt-5" id="box">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <div class="card">
                    <div class="card-body">
                        <h3 align='center'>เพิ่มโปรแกรมวิชา</h3><br>
                        <form action="/adminDepartment/save/" method="POST">
                            <div class="form-group">
                                ชื่อคณะ
                                <font color=#FF0000>*</font> <input type="text" name="name" placeholder="กรอกชื่อโปรแกรมวิชา" class="form-control">
                            </div>
                                <div class="row mt-3"></div>


                                <a href="/adminDepartment" class="btn btn-info"> กลับ </a>
                                <button type="submit" class="btn btn-success" id="submit-id">ยืนยัน</button>
                        </form>
                        </div>
                    </div>
                </div>
            </div>
            <style>
                #submit-id{
                    position: relative;
                    left: 60%;
                }
                #box{
                    position: relative;
                    top: 80px;
                }
            </style>
            <%- include ("../../views/_footer") %>