<%- include ('../../views/_header.ejs') %>
<% JSON.stringify(data) %>
<div class="container mt-6">
    <div class="row mt-5">
        <div class="col-md-2"></div>
        <div class="col-md-9">
            <h1 align='center'><b> รายชื่อคณะ </b></h1><br><br><br>
            <table class="table table-hover">
                <thead>
                    <tr class="table table-bordered table-hover mt-3">
                        <th style="text-align: center;">ลำดับ</th>
                        <th style="text-align: center;">คณะ</th>
                    </tr>
                </thead>
                <tbody>
                    <% if(data){ %>
                    <% for (var i = 0; i < data.length; i++) { %>
                    <tr class="table table-bordered table-hover mt-3">
                        <td align='center'>
                            <%= (i+1) %>
                        </td>
                        <td align='center'>
                            <%= data[i].name %>
                            <div class="col-md-3"></div>
                        </td>
                    </tr>
                    <% } %>
                    <% } %>
                </tbody>
            </table>
        </div>
        <style> 
        </style>


            <%- include ('../../views/_footer.ejs') %>