<%- include ("../_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">รายละเอียด</h2><br>
                  <div class="row mt-1">
                  </div>
                  <table>
                      <tr>
                        <td><h4>ชื่อวิจัย(ไทย)</h4></td>
                        <td><h5>: <%= data.pjnameth%></h5></td>
                      </tr>
                  <tr>
                    <td><h4>ชื่อวิจัย(อังกฤษ)</h4></td>
                    <td><h5>: <%= data.pjnameen%></h5></td>
                  </tr>
                  <tr>
                    <td><h4>อาจารย์ที่ปรึกษา</h4></td>
                    <td><h5>: <%= data.tcname%></h5></td>
                  </tr>
                  <tr>
                    <td><h4>ปีการศึกษา</h4></td>
                    <td><h5>: <%= data.pjyear%></h5></td>
                  </tr>
                  </table>
                  <div class="row mt-3">
                  </div>
                        <div align="center"><a href="/adminproject/report/<%= data.pjid %>" class="btn btn-primary"> กลับ </a>
                        <a href="/adminproject/delete/<%= data.pjid%>" class="btn btn-danger"> ยืนยัน </a>
                        </div>

                </div>
            </div>
        </div>
</div>
</div>

<%- include ("../_footer") %>
