<%- include ('../_header.ejs') %>
    <div class="container mt-4">
        <div class="row mt-5">
    <div class="col">
      <h1 align = 'center'><b> Adminproject </b></h1>
      <td><p align='right'><a href="/adminproject/add" class="btn btn-success" align='right'> เพิ่ม </a></p>
      <table class="table table-bordered table-hover">
        <thead>
                        <tr class="table-active" align="center">
                            <th>ลำดับ</th>
                            <th>ชื่องานวิจัย</th>
                            <th>ชื่อผู้วิจัย</th>
                            <th>อาจารย์ที่ปรึกษา</th>
                            <th>ปีการศึกษา</th>
                            <th>ตัวเลือก</th>
                        </tr>
                    </thead>
                    <tbody>
                        <% if(data){ %>

                            <%  for(var i=0;i<data.length;i++){ %>
                                <tr>
                                    <td align="center"> <%= (i+1) %> </td>
                                    <td align="center"> <%= data[i].nameth %> (<%= data[i].nameen %>)</td>
                                    <td align="center">
                                      <% if(data1){ %>
                                         <%  for(var j=0;j<data1.length;j++){ %>
                                           <% if(data1[j].project_id==data[i].id){ %>
                                      <%= data1[j].stfirstname %> <%= data1[j].stlastname %> (<%= data1[j].mjname%>)
                                      <br>
                                      <%  } %><%  } %>
                                  <%  } %>
                                </td>
                                    <td align="center"> <%= data1[i].tcname%> </td>
                                    <td align="center"> <%= data[i].year%> </td>
                                    <td align="center">  <a href="/adminproject/report/<%= data[i].id%>" class="btn btn-warning"> รายละเอียด </a>
                                    </td>
                                </tr>

                            <% } %>
                       <%  } %>
                    </tbody>
      </table>
    </div>
</div>
    </div>

    <%- include ('../_footer.ejs') %>
