<%- include ("../_header") %>

<div class="container mt-5">
    <div class="row">
        <div class="col-md-3"></div>
        <div class="col-md-6">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">รายละเอียด</h2><br>
                  <div class="row mt-1">
                  </div>
                  <table>
                      <tr>
                        <td><h4>ชื่อวิจัย(ไทย)</h4></td>
                        <td><h5>: <%= data.pjnameth %></h5></td>
                      </tr>
                  <tr>
                    <td><h4>ชื่อวิจัย(อังกฤษ)</h4></td>
                    <td><h5>: <%= data.pjnameen %></h5></td>
                  </tr>

                </table>
                <h4 align="center">ชื่อผู้วิจัย</h4>
                <p align='right'><a href="/adminproject/addstudent/<%= data.pjid %>" class="btn btn-success" align='right'> เพิ่มผู้วิจัย </a></p>
                    <table class="table table-bordered table-hover">
                      <thead>
                        <tr class="table-active" align="center">
                          <th>ลำดับ</th>
                          <th>รหัสนักศึกษา</th>
                          <th>ชื่อผู้วิจัย</th>
                          <th>เบอร์</th>
                          <th>ตัวเลือก</th>
                        </tr>
                      </thead>
                      <tbody>
                        <% if(data2){ %>
                            <%  for(var i=0;i<data2.length;i++){ %>
                                <tr>
                                    <td align="center"> <%= (i+1) %> </td>
                                    <td align="center"> <%= data2[i].ststudentcode %> %> </td>
                                    <td align="center"> <%= data2[i].stfirstname %> <%= data2[i].stlastname %> </td>
                                    <td align="center"> <%= data2[i].stphone %></td>
                                    <td align="center">  <a href="/adminproject/studentdelete/<%= data2[i].stid %>_<%= data.pjid %>" class="btn btn-danger"> ลบ </a>
                                    </td>
                                </tr>

                            <% } %>
                       <%  } %>
                      </tbody>
                    </table>
                  <table>
                  <tr>
                    <td><h4>อาจารย์ที่ปรึกษา</h4></td>
                    <td><h5>: <%= data.tcname%></h5></td>
                  </tr>
                  <tr>
                    <td><h4>ปีการศึกษา</h4></td>
                    <td><h5>: <%= data.pjyear%></h5></td>
                  </tr>
                  </table>
                  <div class="row mt-3">
                  </div>
                        <div align="center"><a href="/adminproject" class="btn btn-primary"> กลับ </a>
                        <a href="/adminproject/del/<%= data.pjid%>" class="btn btn-danger"> ลบ </a>
                        <a href="/adminproject/edit/<%= data.pjid%>" class="btn btn-info"> แก้ไข </a>
                        <a href="/adminproject/upload/<%= data.pjid%>" class="btn btn-warning"> อัปโหลดไฟล์ </a>
                        </div>

                </div>
            </div>
        </div>
</div>
</div>

<%- include ("../_footer") %>
