<%- include ("../_header") %>
<div class="container mt-5">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <div class="card">
                <div class="card-body">
                  <h2 align="center">เพิ่มผู้วิจัย</h2>
                        <form action="/adminproject/addstudent3/<%= iddata %>" method="POST">
                          <table class="container">

                            <tr>
                              <td style="width:40%;"><h4>สำนัก</h4></td>
                              <td style="width:60%;"><h4>: <%= data3[0].name %></td>
                            </tr>

                            </table>
                          <div class="form-group">
                            <div id="spoiler" style="display:none">
                          เลือกสำนัก<font  color=red>*</font> <input type="text"
                          name="department_id"
                          placeholder="  ปีการศึกษา"
                          value="<%= data.department_id %>"
                          class="form-control">
                          </div>
</div>
 เลือกสาขา<font  color=#ff0000>*</font>  <select class ='form-control' name='major_id'>
    <option value=""> เลือก </option>
    <% if(data2) { %>
    <% for(var i=0; i<data2.length; i++){ %>
      <option value="<%= data2[i].id %>">
        <%= data2[i].name %>(<%= data2[i].department_id %>)
        </option>
    <%}%>

<% } %>

</select>
</div>
<br>
                          <div class="" align="center">


                          <a href="/adminproject/report/<%= iddata %>" class="btn btn-primary"> กลับ </a>&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                          <button type="submit" class="btn btn-success">ยืนยัน</button>
                          </div>
</form>

                        </div>
                        </div>
                        </div>
                        </div>
                      </div>

<%- include ("../../views/_footer") %>
