<%- include ("../../views/_header") %>
<div class="row mt-2">
    <div class="col-md-3"></div>
        <div class="col-md-6">
                <div align="center">
                    <% if(data1){ %>
                    <table class="table table-hover">
                        <tbody>
                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/1" enctype="multipart/form-data" method="POST">
                                        ปกนอก files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.coverout == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.coverout %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/2" enctype="multipart/form-data" method="POST">
                                        ปกใน files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.coverin == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.coverin %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/3" enctype="multipart/form-data" method="POST">
                                        ใบรับรอง files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.certificate == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.certificate %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/4" enctype="multipart/form-data" method="POST">
                                        บทคัดย่อ files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.abstract == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.abstract %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/5" enctype="multipart/form-data" method="POST">
                                        กิตติกรรมประกาศ files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.acknowledgment == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.acknowledgment %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/6" enctype="multipart/form-data" method="POST">
                                        เนื้อหา files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.contents == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.contents %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/7" enctype="multipart/form-data" method="POST">
                                        บทที่ 1 files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.chapter1 == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.chapter1 %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/8" enctype="multipart/form-data" method="POST">
                                        บทที่ 2 files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.chapter2 == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.chapter2 %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/9" enctype="multipart/form-data" method="POST">
                                        บทที่ 3 files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.chapter3 == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.chapter3 %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/10" enctype="multipart/form-data" method="POST">
                                        บทที่ 4 files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.chapter4 == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.chapter4 %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/11" enctype="multipart/form-data" method="POST">
                                        บทที่ 5 files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.chapter5 == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.chapter5 %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/12" enctype="multipart/form-data" method="POST">
                                        แหล่งอ้างอิง files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.refreces == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.refreces %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/13" enctype="multipart/form-data" method="POST">
                                        ภาคผนวก files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.appendimage == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.appendimage %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>

                            <tr>
                                <td>
                                    <form action="/adminproject/uploadUp/<%= data %>/14" enctype="multipart/form-data" method="POST">
                                        ชีวประวัติ files
                                </td>
                                <td>
                                     &nbsp;:&nbsp;
                                    <input type="file" name="filename" accept="application/pdf" multiple>
                                </td>
                                <td>
                                    <button type="submit" class="btn btn-success"> upload </button>
                                    </form>
                                </td>
                                <td>
                                    <% if(data1.biography == null){ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp; ยังไม่ได้อัพโหลด
                                    <% }else{ %>
                                        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;<a href="/listProject/<%= data1.biography %>"> ดาวน์โหลด</a>
                                    <% } %>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                    <% } %>
                    <br><a href="/adminproject/report/<%= data %>" class="btn btn-info"> กลับ </a>
            </div>
        </div>
    </div>
    <%- include ("../../views/_footer") %>
