<%- include ('../_header.ejs') %>

<div class="container mt-6">
  <div class="row mt-5"><div class="col-md-3" ></div>
    <div class="col-md-6" >
      <div class="card" >
          <div class="card-body">
      <h2 align="center"> เพิ่มงานวิจัย </h2>
      <div class="row mt-3">
      </div>
  <form  action="/adminproject/save" method="post">
    <div class="form-group">
      ชื่อวิจัย(ไทย) <font color="red">*</font><input type="text" name="nameth" placeholder="ชื่อวิจัย(ไทย)"class="form-control">
    </div>
    <div class="form-group">
      ชื่อวิจัย(อังกฤษ) <font color="red">*</font><input type="text" name="nameen" placeholder="ชื่อวิจัย(อังกฤษ)"class="form-control">
    </div>
  <div class="form-group">
            ชื่ออาจารย์ที่ปรึกษา <font color="red">*</font>
            <select class="form-control" name="teacher_id">
              <option name="teacher_id" value="" >กรุณาเลือก</option>
              <% if(data2){ %>
                <% for(var i = 0 ; i < data2.length ; i++){%>
                <option value="<%= data2[i].id%>">
                <%= data2[i].name %>
              </option>
              <% }%>
              <% } %>
    </select>
  </div>
    <div class="form-group">
      ปีการศึกษา <font color="red">*</font><input type="text" name="year" placeholder="ปีการศึกษา"class="form-control">
    </div>
    <div class="row mt-3">
    </div>
    <div align="center">
      <a href="/adminproject" class="btn btn-primary" align="center"> กลับ </a>
      <button type="submit" class="btn btn-success" align="center"> ยืนยัน </button>
    </div>
  </form>
</div>
</div>
</div>
</div>
</div>
    <%- include ('../_footer.ejs') %>
