<%- include ('../../views/login.ejs') %>

<div class="container mt-6">
    <div class="row mt-5">
        <% if(data2){ %>
        <% if(data2.length == 1){ %>
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <div class="card">
                <div class="card-body">
                    <form action="" method="post">
                        <p align="center">
                            <font color=#000000 style="font-size:40px">รายละเอียดงานวิจัย</font>
                        </p>
                        <div>
                            <table class="table table-hover" align="center">
                                <tbody>
                                    <tr>
                                        <td align="left">
                                            <p>
                                                <font color=#000000 style="font-size:18px">
                                                    ชื่องานวิจัย(ไทย)
                                                </font>
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <font size="5"> :&nbsp;</font>
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <font color=#000000 style="font-size:18px"><%= data.pronameth %>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <p>
                                                <font color=#000000 style="font-size:18px">
                                                    ชื่องานวิจัย(อังกฤษ)
                                                </font>
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <font size="5">:&nbsp;</font>
                                            </p>
                                        </td>
                                        <td>
                                            <p>
                                                <font color=#000000 style="font-size:18px"><%= data.pronameen %>
                                                </font>
                                            </p>
                                        </td>
                                    </tr>
                                    <td><br><br></td>
                                    <td><br><br></td>
                                    <td><br><br></td>
                                    <tr>
                                    </tr>
                                    <% if(data2){ %>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                ชื่อผู้วิจัย
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].stfirstname %>&nbsp;&nbsp;<%= data2[0].stlastname %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                รหัสนักศึกษา
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].ststudentcode %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                สาขาวิชา
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].mname %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                คณะ
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].dname %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                เกิดเมื่อ
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].stbirthday %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                ที่อยู่
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].staddress %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                เบอร์โทร
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].stphone %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">
                                                อีเมล
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data2[0].stemail %>
                                            </font>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <tr>
                                        <td><br><br></td>
                                        <td><br><br></td>
                                        <td><br><br></td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">อาจาร์ยที่ปรึกษา</font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px"><%= data.tname %></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ตำแหน่ง</font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px"><%= data.tjobposition %>
                                            </font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">อีเมล</font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px"><%= data.temail %></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><br><br><br></td>
                                        <td><br><br><br></td>
                                        <td><br><br><br></td>
                                    </tr>
                                    <% if(data3){ %>
                                    <% for (var i = 0; i < data3.length; i++) { %>
                                    <tr>
                                        <td>
                                            <font color=#000000 style="font-size:18px">
                                                <%= data3[i].ttname %> ท่านที่<%= i+1 %>
                                            </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px"><%= data3[i].tname %></font>
                                        </td>
                                    </tr>
                                    <% } %>
                                    <% } %>
                                    <tr>
                                        <td><br></td>
                                        <td><br></td>
                                        <td><br></td>
                                    </tr>
                                    <tr>
                                        <td>
                                            <p align="left">
                                                <font color=#000000 style="font-size:18px">ปีการศึกษา</font>
                                            </p>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <font color=#000000 style="font-size:18px"><%= data.proyear %></font>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td><br></td>
                                        <td><br></td>
                                        <td><br></td>
                                    </tr>
                                    <% if(data4){ %>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ปกนอก </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.coverout == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.coverout %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ปกใน </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.coverin == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.coverin %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ใบรับรอง </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.certificate == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.certificate %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทคัดย่อ</font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.abstract == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.abstract %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">กิตติกรรมประกาศ </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.acknowledgment == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.acknowledgment %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">เนื้อหา </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.contents == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.contents %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทที่ 1 </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.chapter1 == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.chapter1 %> ">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทที่ 2 </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.chapter2 == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.chapter2 %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทที่ 3 </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.chapter3 == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.chapter3 %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทที่ 4 </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.chapter4 == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.chapter4 %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">บทที่ 5 </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.chapter5 == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.chapter5 %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">แหล่งอ้างอิง </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.refreces == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.refreces %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ภาคผนวก</font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.appendimage == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.appendimage %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td align="left">
                                            <font color=#000000 style="font-size:18px">ชีวประวัติ </font>
                                        </td>
                                        <td>
                                            <font size="5"> :&nbsp;</font>
                                        </td>
                                        <td>
                                            <% if(data4.biography == null){ %>
                                            ยังไม่มีข้อมูลวิจัย
                                            <% }else{%>
                                            <a href="/listProject/<%= data4.biography %>">ดาวโหลด</a>
                                            <% } %>
                                        </td>
                                    </tr>
                                    <% } %>
                                </tbody>
                            </table>
                        </div>
                        <div>
                            <br><br><br>
                            <div align="center"><a href="/" class="btn btn-primary"> กลับ </a>
                            </div>
                    </form>
                </div>
            </div>
            <% }else{ %>
            <div class="col-md-1"></div>
            <div class="col-md-10">
                <div class="card">
                    <div class="card-body">
                        <form action="" method="post">
                            <p align="center">
                                <font color=#000000 style="font-size:40px">รายละเอียดงานวิจัย</font>
                            </p>
                            <div>
                                <table class="table table-hover" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <p>
                                                    <font color=#000000 style="font-size:18px">
                                                        ชื่องานวิจัย(ไทย)
                                                    </font>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <font size="5"> :&nbsp;</font>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <font color=#000000 style="font-size:18px"><%= data.pronameth %>
                                                    </font>
                                                </p>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <p>
                                                    <font color=#000000 style="font-size:18px">
                                                        ชื่องานวิจัย(อังกฤษ)
                                                    </font>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <font size="5">:&nbsp;</font>
                                                </p>
                                            </td>
                                            <td>
                                                <p>
                                                    <font color=#000000 style="font-size:18px"><%= data.pronameen %>
                                                    </font>
                                                </p>
                                            </td>
                                        </tr>
                                    </tbody>
                                </table>
                                <br>
                                <% if(data2){ %>
                                <table class="table table-hover" align="center">
                                    <thead>
                                        <tr>
                                            <th>ชื่อผู้วิจัย</th>
                                            <th>รหัสนักศึกษา</th>
                                            <th>สาขาวิชา</th>
                                            <th>คณะ</th>
                                            <th>เกิดเมื่อ</th>
                                            <th>ที่อยู่</th>
                                            <th>เบอร์โทร</th>
                                            <th>อีเมล</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        <% for (var i = 0; i < data2.length; i++) { %>
                                        <tr>
                                            <td><%= data2[i].stfirstname %>&nbsp;&nbsp;<%= data2[i].stlastname %>
                                            </td>
                                            <td><%= data2[i].ststudentcode %></td>
                                            <td><%= data2[i].mname %></td>
                                            <td><%= data2[i].dname %></td>
                                            <td><%= data2[i].stbirthday %></td>
                                            <td><%= data2[i].staddress %></td>
                                            <td><%= data2[i].stphone %></td>
                                            <td><%= data2[i].stemail %></td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                                <br><br>
                                <% } %>
                                <table class="table table-hover" align="center">
                                    <tbody>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">อาจาร์ยที่ปรึกษา</font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <font color=#000000 style="font-size:18px"><%= data.tname %></font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ตำแหน่ง</font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <font color=#000000 style="font-size:18px"><%= data.tjobposition %>
                                                </font>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">อีเมล</font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <font color=#000000 style="font-size:18px"><%= data.temail %></font>
                                            </td>
                                        </tr>

                                        <tr>
                                            <td><br><br><br></td>
                                            <td><br><br><br></td>
                                            <td><br><br><br></td>
                                        </tr>
                                        <% if(data3){ %>
                                        <% for (var i = 0; i < data3.length; i++) { %>
                                        <tr>
                                            <td>
                                                <font color=#000000 style="font-size:18px">
                                                    <%= data3[i].ttname %> ท่านที่<%= i+1 %>
                                                </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <font color=#000000 style="font-size:18px"><%= data3[i].tname %></font>
                                            </td>
                                        </tr>
                                        <% } %>
                                        <% } %>
                                        <tr>
                                            <td><br></td>
                                            <td><br></td>
                                            <td><br></td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <p align="left">
                                                    <font color=#000000 style="font-size:18px">ปีการศึกษา</font>
                                                </p>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <font color=#000000 style="font-size:18px"><%= data.proyear %></font>
                                            </td>
                                        </tr>
                                        <% if(data4){ %>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ปกนอก </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.coverout == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.coverout %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ปกใน </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.coverin == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.coverin %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ใบรับรอง </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.certificate == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.certificate %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทคัดย่อ</font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.abstract == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.abstract %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">กิตติกรรมประกาศ </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.acknowledgment == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.acknowledgment %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">เนื้อหา </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.contents == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.contents %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทที่ 1 </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.chapter1 == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.chapter1 %> ">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทที่ 2 </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.chapter2 == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.chapter2 %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทที่ 3 </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.chapter3 == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.chapter3 %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทที่ 4 </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.chapter4 == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.chapter4 %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">บทที่ 5 </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.chapter5 == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.chapter5 %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">แหล่งอ้างอิง </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.refreces == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.refreces %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ภาคผนวก</font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.appendimage == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.appendimage %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <tr>
                                            <td align="left">
                                                <font color=#000000 style="font-size:18px">ชีวประวัติ </font>
                                            </td>
                                            <td>
                                                <font size="5"> :&nbsp;</font>
                                            </td>
                                            <td>
                                                <% if(data4.biography == null){ %>
                                                ยังไม่มีข้อมูลวิจัย
                                                <% }else{%>
                                                <a href="/listProject/<%= data4.biography %>">ดาวโหลด</a>
                                                <% } %>
                                            </td>
                                        </tr>
                                        <% } %>
                                    </tbody>
                                </table>
                            </div>
                            <div>
                                <br><br><br>
                                <div align="center"><a href="/" class="btn btn-primary"> กลับ </a>
                                </div>
                        </form>
                    </div>
                </div>
                <% } %>
                <% } %>

            </div>
        </div>
    </div>
</div>
<%- include ('../../views/_footer.ejs') %>